body{
    background-color:#F5F3C1;

}
.lightred{
    color:red;

}
#rosa{

    background-color:#E7AB9A;
}
#verde{

    background-color:#ADE792;
    border-radius:10px;
       
}
#vermelhoescuro{

    background-color:#820000;
}
.bronco{

    color:white;
}


